@import "tailwindcss";

:root {
  font-family: Arial, Helvetica, sans-serif;
  --color-ivory: #f8f4ef;
}

html,
body {
  background: #0b0b0c;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

* {
  -webkit-tap-highlight-color: transparent;
}
